*{
 margin: 0px;
}

#TaskList{
    width:100%;
    position: relative;
}
#Task{
    position:relative;
    display: grid;
    z-index:0;
    margin: 2%;
    margin-top: 3%;
    padding:2.5rem;
    background-color: antiquewhite;
    border-radius: 25px;
    border-style:inset;
}
#Complete{
    background-color: rgb(11, 114, 11);
}
#Delete{
    background-color: rgb(194, 52, 52);
}
.Message{
    align-self: center;
    font-size: medium;
    font-weight: bold;
}
.overlay{
    position: fixed;
   
    z-index: 3;
    background-color: rgba(0,0,0,0.5);
    min-height:100%;
    width:100%;
    opacity:0.95;

    display: flex;
    align-items: stretch;
    justify-self: center;
}
.popup{
    opacity: 1;
    background-color:antiquewhite;
    width: 35%;
    margin-left: 30%;
    padding:5%;
    max-height: 50vh;
    border-radius: 5%;
    align-self: center;

   
}
form{
    display: grid;
    gap: 0.5rem;
    grid-template-areas: 
        "taskNameLabel taskName" 
        "taskDateLabel taskDate" 
        "button button" 
        "cancelButton cancelButton"      
}
input{
    border-style: none;
    padding: 4%;
    border-radius: 1%;
}

#taskNameLabel{
    grid-area: taskNameLabel;
}
#taskName{
    grid-area: taskName;
}
#taskDateLabel{
    grid-area: taskDateLabel;
}
#taskDate{
    grid-area: taskDate;
}
#AddTask{
    grid-area:button
}
#CancelTask{
    grid-area:cancelButton
}