*{
  margin:0px;
}
.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  background-color: rgb(209, 181, 144);
}

#Title1{
  margin-top: 10%;
}
